body{
    margin:0;
    padding:0;
    background:#0f0f0f;
    color:white;
    font-family:Arial,sans-serif;
}

header{
    background:linear-gradient(90deg,#000,#caa74d,#000);
    text-align:center;
    padding:20px;
    box-shadow:0 0 20px gold;
}

h1{
    color:gold;
    margin:0;
}

.hero{
    text-align:center;
    padding:30px;
}

.hero p{
    color:#ddd;
}

.btn{
    background:gold;
    color:black;
    border:none;
    padding:12px 20px;
    border-radius:10px;
    font-weight:bold;
    cursor:pointer;
    transition:0.3s;
}

.btn:hover{
    transform:scale(1.05);
    box-shadow:0 0 15px gold;
}

.chat-box{
    width:90%;
    max-width:700px;
    margin:auto;
    background:#1a1a1a;
    border:1px solid gold;
    border-radius:15px;
    padding:15px;
}

.messages{
    height:300px;
    overflow-y:auto;
    border-bottom:1px solid #333;
    margin-bottom:10px;
}

input{
    width:70%;
    padding:10px;
    border-radius:10px;
    border:none;
}

button{
    padding:10px;
    background:gold;
    border:none;
    border-radius:10px;
    cursor:pointer;
}

footer{
    text-align:center;
    padding:20px;
    color:gold;
}
