.user-message{
    background:#ffd700;
    color:#000;
    padding:12px;
    border-radius:15px;
    margin:10px;
    text-align:right;
}

.bot-message{
    background:#222;
    color:white;
    padding:12px;
    border-radius:15px;
    margin:10px;
}

#messages{
    height:500px;
    overflow-y:auto;
    background:#111;
    border-radius:20px;
    padding:10px;
}
